<div class="row">
    <div class="col-md-22 col-md-22 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h4 class="pageheader-title">Menú Principal</h4>
            <p class="pageheader-text"></p>
           
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<div class="ecommerce-widget">

    <hr>
          
    <br><br><br>
        <div class="row">
            <!-- recent orders  -->
            <!-- ============================================================== -->
            <div class="container">
                <div class="card">
                    <h4 class="card-header" style="color: #30a2ee !important;">Directorio</h4>
                    <div class="container p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0">#</th>
                                        <th class="border-0">Centro</th>
                                        <th class="border-0">Dirección</th>
                                        <th class="border-0">Encargado</th>
                                        <th class="border-0">Telefonos</th>
                                        <th class="border-0">Email</th>                                 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #1 </td>
                                        <td>id000001 </td>
                                        <td>20</td>                        
                                        <td>Patricia J. King </td>
                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic-2.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #2 </td>
                                        <td>id000002 </td>
                                        <td>12</td>                            
                                        <td>Rachel J. Wicker </td>
                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic-3.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #3 </td>
                                        <td>id000003 </td>
                                        <td>23</td>                                  
                                        <td>Michael K. Ledford </td>
                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic-4.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #4 </td>
                                        <td>id000004 </td>
                                        <td>34</td>                                   
                                        <td>Michael K. Ledford </td>
                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                    </tr>                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- ============================================================== -->
            <!-- end recent orders  -->
            <hr> 
</div>
          


          
            
    

        
       
