<form class="example-form">

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
              <h1 class="pageheader-title">Profesores </h1>              
              <div class="page-breadcrumb">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/home" class="breadcrumb-link">Home</a></li>
                          <li class="breadcrumb-item"><a class="breadcrumb-link">Listar</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Profesores</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
    </div>
     
    <div class="list-group" style="float: right !important;" > 
        <button (click)="consultar($event)" mat-fab color="warn">
        <mat-icon>search</mat-icon>
        </button>
    </div>
 
  <br>
  
  <div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="dataSource">  
      <!-- Position Column -->
      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.Codigo}} </td>
      </ng-container>
  
      <!-- NIC Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Patronus">
        <th mat-header-cell *matHeaderCellDef> Patronus </th>
        <td mat-cell *matCellDef="let element"> {{element.Patronus }} </td>
      </ng-container>
  
      <!-- Age Column -->
      <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
      </ng-container>
  
      <!-- Image Column -->
      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> 
          <div class=""><img [src]="element.Image" class="rounded" width="45" style="margin: 5px 0 5px 0px;"></div>
      </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginatorProfesores [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>    
  </div>
  
  </form>